body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: #f5f5dc;
}
#parent{
    margin-top: 30px;
    margin-left: 30%;
    
    width: 40%;
    height: 500px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: black;
    
    text-align: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.navbar {
  background-color:rgba(0, 128, 105, 0.271);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  height: 70px;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar ul li {
  display: inline;
}
.navbar ul li a {
  text-decoration: none;
    color:rgb(221, 2, 56)
}

.navbar ul li a:hover {
    color:limegreen
}

h1{
   
    border: 1px solid black;
    margin-left: 30%;
    width:39%;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

input{
    padding: 10px;
    width: 95%;
    margin-top: 10px;
}

.myForm{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 30px;
    font-weight: bold;
}

#btn{
    margin-top: 40px;
    width: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: beige;
    font-size: 20px;
    font-weight: 600;
    
}

#btn:hover{
    background-color: cornflowerblue;
    font-size: 16px;
    font-weight: 500;
    color: brown;
    
}

input:focus{
    background-color: aqua;
}